.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .table-container {
    width: 48%;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
    color: #333;
  }

  .form-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #c4d8ec;
    border-radius: 4px;
  }

  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
  }

  .edit-button {
    margin-right: 5px; /* Add spacing between buttons */
  }
  div{
    text-align: center;
    font-size: larger;
    font-weight: 300px;
  }