<div>The Resultant Amount: {{ amt | currency: 'INR' :'symbol' }}</div>
<form [formGroup]="lname" class="form-container">
  <input type="text" formControlName="first" placeholder="Amount">
  <input type="text" formControlName="second" placeholder="Description">
  <button (click)="calculate()">Calculate</button>

  <div class="container">
    <div class="table-container">
      <p>Expense</p>
      <table>
        <tr *ngFor="let item of expense">
          <td>{{ item | json }}</td>
          <td>
            <button class="edit-button" (click)="edit(item, 'expense')">Remove</button>
            <button class="edit-button" (click)="del(item, 'expense')">Edit</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="table-container">
      <p>Income</p>
       <table>
        <tr *ngFor="let item of income; let i = index">
          <td>{{ item | json }}</td>
          <td>
            <button class="edit-button" (click)="edit(item,  'income')">Remove</button>
            <button class="edit-button" (click)="del(item,  'income')">Edit </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>

<!-- Pass total income and expense to the pie chart component -->
<app-piechart [incomeTotal]="getTotalIncome()" [expenseTotal]="getTotalExpense()"></app-piechart>
<div class="chart-container">
  <canvas id="MyChart">{{ chart }}</canvas>
</div>
