
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display:inline-flex;
    justify-content: center;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2px; /* Adjust this value to match the height of your header */
  }
  
  h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .alert {
    margin-top: 20px;
  }
  
  .text-danger {
    color: #e74c3c;
    margin-top: 5px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  textarea.form-control {
    resize: none;
  }

  