
h4{
    text-align: center;
    text-decoration-color: aqua;
    color: dodgerblue;
}
input.ng-touched.ng-invalid{
    border-style: solid;
    border-color: red;
    border-width:3px;
}
input.ng-touched.ng-valid{
    border-style: solid;
    border-color: rgb(36, 219, 11);
    border-width:3px;
}
p{
    color:rgb(19, 97, 170);
}
.active
{
    text-align: center;
    color:rgb(245, 22, 22)
}
label{
    color:blueviolet
}
.field{
  
  
  color: black;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f5f5f5; 
}
.form-container {
  flex: 1;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.login-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .form-label {
  font-weight: bold;
}

.login-form .form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.login-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.login-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.text-danger {
  color: #dc3545;
}

.mb-3 {
  margin-bottom: 1rem;
}

